<div id="toast"></div>


<div class="testing">
<div class="container">
    <div class="profile-header">
        <div class="profile-img">
            <img width="200" src="/images/page/2.jpg" alt="">
        </div>
        <div class="profile-nav-info">
            <h3 style="font-family: 'Times New Roman', Times, serif; text-transform: uppercase;" class="user-name">Tên User:  <%-currentUser.Hoten%></h3>
            <div class="address">
                <p style="text-transform: uppercase;" class="state">Vai Trò: </p>
                    
                <span class="country"><%-currentUser.Vaitro%></span>
            </div>
        </div>
        <!-- <div class="profile-option">
            
        </div> -->
    </div>
    <div class="main-bd">
        <div  class="left-side">
            <div class="profile-side">
                <p style="color: green; font-weight: bold;"><a href="#"><i class="fa fa-phone"></i></a>Số Điện Thoại: <%-currentUser.Sodienthoai%> <i></i></p>
                

                <p style="color: orange; font-weight: bold;"><a href="#"><i class="fa fa-envelope"></i>&nbsp;</a>Email: <%-currentUser.Email%> <i></i></p>
                <div class="user-bio">
                    <p style="color: purple; font-weight: bold; " class="bio">
                        Bio: Someone wrote this song before and I could tell you where its form,
                        4736251
                    </p>
                </div>
                <div class="profile-btn">
                    <button onclick="thaydoithongtintaikhoan('<%-currentUser.Hoten%>','<%-currentUser.Email%>','<%-currentUser.Sodienthoai%>')" class="chatbtn">Thay Đổi Thông Tin</button>
                    <button onclick="thaydoimatkhautaikhoan('<%-currentUser.Matkhau%>')" class="createbtn">Thay Đổi Mật Khẩu</button>
                </div>
            </div>
        </div>
        <div style="background-color: blueviolet; width: 100%;" class="right-side">
            <div style="margin: 0 auto; " class="nav">
                <ul style="background:none; height: 50px; width: 100%; margin: 0 auto;">
                   
                    <li style="font-weight: bold; background-color: lightgoldenrodyellow; text-align: center;  margin: 0 5px; border: 2px solid #000; width: 100%; " onclick="tabs(0)" class="user-review">
                        CÀI ĐẶT 
                    </li>
                    <li style="font-weight: bold; background-color: lightgoldenrodyellow; text-align: center;  margin: 0 5px; border: 2px solid #000; width: 100%; " onclick="tabs(1)" class="user-setting">
                        VÉ ĐÃ ĐẶT
                    </li>
                </ul>
            </div>
            <div style=" width: 100%;" class="profile-body">
                
                <div class="text-light profile-review tab">
                        <h1>Cài Đặt</h1>
                </div>
                <div class="text-light profile-setting tab">
                    <h1>Danh Sách Vé Đã Đặt</h1>
                        
                    <div class="container mb-3 mt-3">
                        <table class=" table table-striped table-bordered mydatatable" >
                            <thead>
                                <!-- <tr>
                                    <th colspan="1">Name</th>
                                    <th colspan="2">HR Information</th>
                                    <th colspan="3">Contact</th>
                                </tr> -->
                                <tr>
                                    <th>Tên Phim</th>
                                    <th>Mã Ghế</th>
                                    <th>Giá Tiền</th>
                                    <th>Thời Gian </th>
                                    <!-- <th>Start date</th>
                                    <th>Salary</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <% for (const key in found_Ve){%>
                                    <tr>                                       
                                        <td><%-array_phim_into_ve[key]%></td>
                                        <td><%-found_Ve[key].Maghe%></td>
                                        <td><%-found_Ve[key].Giatien%></td>
                                        <td><%-found_Ve[key].DatCho.Thoigiandatve%></td>   
                                        <!-- <td>2021/04/25</td>
                                        <td>$123.800</td>                                      -->
                                    </tr>
                                <%}%>
                                <!-- <tr>
                                    <td>Tiger Nixon</td>
                                    <td>System Architect</td>
                                    <td>Ediniburgh</td>
                                    <td>G1</td>
                                    <td>2021/04/25</td>
                                    <td>$123.800</td>
                                </tr>
                                <tr>
                                    <td>asdas</td>
                                    <td>Sasdaitect</td>
                                    <td>Ediniasdgh</td>
                                    <td>as</td>
                                    <td>2021/04/25</td>
                                    <td>$12323.800</td>
                                </tr>
                                <tr>
                                    <td>Tiger Nixon</td>
                                    <td>System Architect</td>
                                    <td>Ediniburgh</td>
                                    <td>G1</td>
                                    <td>2021/04/25</td>
                                    <td>$123.800</td>
                                </tr>
                                <tr>
                                    <td>Tiger Nixon</td>
                                    <td>System Architect</td>
                                    <td>Ediniburgh</td>
                                    <td>G1</td>
                                    <td>2021/04/25</td>
                                    <td>$123.800</td>
                                </tr>
                                <tr>
                                    <td>Tiger Nixon</td>
                                    <td>System Architect</td>
                                    <td>Ediniburgh</td>
                                    <td>G1</td>
                                    <td>2021/04/25</td>
                                    <td>$123.800</td>
                                </tr>
                                <tr>
                                        <td>Tiger Nixon</td>
                                        <td>System Architect</td>
                                        <td>Ediniburgh</td>
                                        <td>G1</td>
                                        <td>2021/04/25</td>
                                        <td>$123.800</td>
                                </tr>
                                <tr>
                                        <td>Tiger Nixon</td>
                                        <td>System Architect</td>
                                        <td>Ediniburgh</td>
                                        <td>G1</td>
                                        <td>2021/04/25</td>
                                        <td>$123.800</td>
                                </tr>
                                <tr>
                                        <td>Tiger Nixon</td>
                                        <td>System Architect</td>
                                        <td>Ediniburgh</td>
                                        <td>G1</td>
                                        <td>2021/04/25</td>
                                        <td>$123.800</td>
                                </tr>
                                <tr>
                                        <td>Tiger Nixon</td>
                                        <td>System Architect</td>
                                        <td>Ediniburgh</td>
                                        <td>G1</td>
                                        <td>2021/04/25</td>
                                        <td>$123.800</td>
                                </tr>
                                <tr>
                                        <td>Tiger Nixon</td>
                                        <td>System Architect</td>
                                        <td>Ediniburgh</td>
                                        <td>G1</td>
                                        <td>2021/04/25</td>
                                        <td>$123.800</td>
                                </tr>
                                <tr>
                                        <td>Tiger Nixon</td>
                                        <td>System Architect</td>
                                        <td>Ediniburgh</td>
                                        <td>G1</td>
                                        <td>2021/04/25</td>
                                        <td>$123.800</td>
                                </tr>
                                <tr>
                                        <td>Tiger Nixon</td>
                                        <td>System Architect</td>
                                        <td>Ediniburgh</td>
                                        <td>G1</td>
                                        <td>2021/04/25</td>
                                        <td>$123.800</td>
                                </tr>
                                <tr>
                                        <td>Tiger Nixon</td>
                                        <td>System Architect</td>
                                        <td>Ediniburgh</td>
                                        <td>G1</td>
                                        <td>2021/04/25</td>
                                        <td>$123.800</td>
                                </tr>
                                <tr>
                                        <td>Tiger Nixon</td>
                                        <td>System Architect</td>
                                        <td>Ediniburgh</td>
                                        <td>G1</td>
                                        <td>2021/04/25</td>
                                        <td>$123.800</td>
                                </tr>
                                <tr>
                                        <td>Tiger Nixon</td>
                                        <td>System Architect</td>
                                        <td>Ediniburgh</td>
                                        <td>G1</td>
                                        <td>2021/04/25</td>
                                        <td>$123.800</td>
                                </tr>
                                <tr>
                                        <td>Tiger Nixon</td>
                                        <td>System Architect</td>
                                        <td>Ediniburgh</td>
                                        <td>G1</td>
                                        <td>2021/04/25</td>
                                        <td>$123.800</td>
                                </tr>
                                <tr>
                                        <td>Tiger Nixon</td>
                                        <td>System Architect</td>
                                        <td>Ediniburgh</td>
                                        <td>G1</td>
                                        <td>2021/04/25</td>
                                        <td>$123.800</td>
                                </tr>
                                <tr>
                                        <td>Tiger Nixon</td>
                                        <td>System Architect</td>
                                        <td>Ediniburgh</td>
                                        <td>G1</td>
                                        <td>2021/04/25</td>
                                        <td>$123.800</td>
                                </tr>
                                <tr>
                                        <td>Tiger Nixon</td>
                                        <td>System Architect</td>
                                        <td>Ediniburgh</td>
                                        <td>G1</td>
                                        <td>2021/04/25</td>
                                        <td>$123.800</td>
                                </tr>
                                <tr>
                                        <td>Tiger Nixon</td>
                                        <td>System Architect</td>
                                        <td>Ediniburgh</td>
                                        <td>G1</td>
                                        <td>2021/04/25</td>
                                        <td>$123.800</td>
                                </tr> -->
                            </tbody>
                        </table>
                    </div>
                    



                </div>
            </div>
        </div>
    </div>
</div>
</div>



<!-----Thong tin ca nhan-->
<div class="bg-modal" >
    <div style="background-color: lightgoldenrodyellow;" class="modal-content " >             
        <div onclick="tatthongtintaikhoan()" class="close">+</div>
        <div class="ui container">
            <form id="formthongtin" class="ui form" method="POST"  >
                <div style="background-color: rgb(247, 247, 220);" class="card w-100" style="width: 18rem;">
                        
                        <div class="card-body">
                          <h5 style="text-transform: uppercase; background-color: lawngreen" class="card-title">Thông Tin Cá Nhân</h5>
                   
                            <div style="" class="form-group input-group">
                                <div style=" box-sizing: border-box; width: 100%;" class="input-group-prepend">
                                        <span style="text-transform: uppercase; width: 160px; background-color: lightskyblue; border: none;" class="input-group-text">User Name </span>
                                        <input id="username" name="username" type="text"  class="form-control">
                                </div>
                                <span class="form-message"></span>
                            </div>
<!-- 
                            <div  class="input-group">
                                <div style=" box-sizing: border-box; width: 100%;" class="input-group-prepend">
                                    <span style="text-transform: uppercase; width: 160px; background-color: lightskyblue; border: none;" class="input-group-text">User Name </span>
                                    <input  type="text" name="username" id="username">

                                </div>
                            </div> -->
                            <div style="margin-top:2px;" class="input-group">
                                    <div style=" box-sizing: border-box; width: 100%;" class="input-group-prepend">
                                        <span style="text-transform: uppercase; width: 160px; background-color: lightcoral; border: none;" class="input-group-text">Email </span>
                                        <input readonly type="text" name="email" id="email">

                                    </div>

                            </div>
                            <!-- <div style="margin-top:2px;" class="input-group">
                                    <div style=" box-sizing: border-box; width: 100%;" class="input-group-prepend">
                                            <span style="text-transform: uppercase; width: 160px; background-color: lightgray; border: none;" class="input-group-text">Số Điện Thoại </span>
                                        <input  type="text" name="sodienthoai" id="sodienthoai">

                                    </div>

                            </div> -->

                            <div style="margin-top:2px;" class="form-group input-group">
                                    <div style=" box-sizing: border-box; width: 100%;" class="input-group-prepend">
                                            <span style="text-transform: uppercase; width: 160px; background-color: lightgray; border: none;" class="input-group-text">Số Điện Thoại </span>
                                            <input id="sodienthoai" name="sodienthoai" type="text" placeholder="+84" class="form-control">
                                    </div>
                                    <span class="form-message"></span>
                            </div>
                            
                            <input hidden type="text" value="0" name="check_option" id="check_option">

                        </div>
                        
                       
                </div>
                
                <button class="ui fluid blue button" type="submit">Xác Nhận</button>
            </form>
        </div>


       
    </div>
</div> 


<!---Thay doi mat khau-->
<div   class="bg-modal1">
        <div style="background-color: lightgoldenrodyellow;" class="modal-content ">             
            <div onclick="tatthaydoimatkhautaikhoan()" class="close">+</div>
            <div  class="ui container">
                <form id="formmatkhau"  class="ui form" method="POST"  >
                    <div style="background-color: rgb(247, 247, 220);" class="card w-100" style="width: 18rem;">                     
                            <div class="card-body">
                              <h5 style="text-transform: uppercase; background-color: lawngreen"  class="card-title">Thay Đổi Mật Khẩu</h5>
                       
                                <!-- <div style="margin-top:5px;" class="input-group">
                                        <div style=" box-sizing: border-box; width: 100%;" class="input-group-prepend">
                                            <span style="text-transform: uppercase; width: 200px; background-color: lightgreen; border: none;" class="input-group-text">Mật Khẩu Hiện Tại</span>
                                            <input placeholder="Mật Khẩu Hiện Tại Của Bạn !" type="password" name="matkhauold" id="matkhauold">

                                        </div>

                                </div> -->
                                <div style="margin-top:5px;" class="form-group input-group">
                                        <div style=" box-sizing: border-box; width: 100%;" class="input-group-prepend">
                                                <span style="text-transform: uppercase; width: 200px; background-color: lightgreen; border: none;" class="input-group-text">Mật Khẩu Hiện Tại</span>
                                                <input id="matkhauold" name="matkhauold" type="password" placeholder="" class="form-control">
                                        </div>
                                        <span class="form-message"></span>
                                </div>

                                <!-- <div style="margin-top:5px;" class="input-group">
                                        <div style=" box-sizing: border-box; width: 100%;"  class="input-group-prepend">
                                            <span style="text-transform: uppercase; width: 200px; background-color: lightpink; border: none;" class="input-group-text">Mật Khẩu Mới</span>
                                            <input placeholder="Nhập Mật Khẩu Mới (Không Được Trùng Mật Khẩu Hiện Tại !) "  type="password" name="matkhaunew" id="matkhaunew">
                                        </div>

                                </div> -->
                                <div style="margin-top:5px;" class="form-group input-group">
                                        <div style=" box-sizing: border-box; width: 100%;" class="input-group-prepend">
                                                <span style="text-transform: uppercase; width: 200px; background-color: lightpink; border: none;" class="input-group-text">Mật Khẩu Mới</span>
                                                <input id="matkhaunew" name="matkhaunew" type="password" placeholder="" class="form-control">
                                        </div>
                                        <span class="form-message"></span>
                                </div>
                                <!-- <div style="margin-top:5px;" class="input-group">
                                        <div style=" box-sizing: border-box; width: 100%;" class="input-group-prepend">
                                            <span  style="text-transform: uppercase; width: 200px; background-color: lightseagreen; border: none;" class="input-group-text">Xác Nhận Mật Khẩu Mới</span>
                                            <input placeholder="" type="password" name="comfirmmatkhau" id="comfirmmatkhau">

                                        </div>

                                </div> -->
                                <div style="margin-top:5px;" class="form-group input-group">
                                        <div style=" box-sizing: border-box; width: 100%;" class="input-group-prepend">
                                                <span  style="text-transform: uppercase; width: 200px; background-color: lightseagreen; border: none;" class="input-group-text">Xác Nhận Mật Khẩu Mới</span>
                                                <input id="comfirmmatkhau" name="comfirmmatkhau" type="password" placeholder="" class="form-control">
                                        </div>
                                        <span class="form-message"></span>
                                </div>
                                <input hidden readonly type="text" value="1" name="check_option" id="check_option">
                               
                            </div>
                            
                           
                    </div>
                    
                    <button class="ui fluid blue button" type="submit">Xác Nhận</button>
                </form>
            </div>
            
        </div>
</div> 









<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap4.min.js"></script>


<script>

    var thaydoithongtintaikhoan = function(username, email, sodienthoai){
        document.querySelector('.bg-modal').style.display = 'flex';
        document.getElementById('username').value = username;
        document.getElementById('email').value = email;
        document.getElementById('sodienthoai').value = sodienthoai;

    };


    var tatthongtintaikhoan = function(){
        document.querySelector('.bg-modal').style.display = 'none';

    };

    var thaydoimatkhautaikhoan = function(matkhau){
        document.querySelector('.bg-modal1').style.display = 'flex';
       document.getElementById('matkhaucheck').value = matkhau;

    };


    var tatthaydoimatkhautaikhoan = function(){
        document.querySelector('.bg-modal1').style.display = 'none';

    };

    // document.getElementById('thoigiandatve').innerText = moment(document.getElementById('thoigiandatve').innerText).format("DD-MM-YYYY");
    var table = $('.mydatatable').DataTable({
        searching: true,
        ordering: true,
        lengthMenu: [[5,10,25,50,-1],[5,10,25,50,"All"]],
        
        // createdRow: function(row, data, index){
        //     if (data[5].replace(/[\$,]/g,'') * 1 > 150000){
        //         $('td', row).eq(5).addClass('text-success');
        //     }
        // }
    });
    var table_user = $('.mydatatable-user').DataTable({
        searching: true,
        ordering: true,
        lengthMenu: [[5,10,25,50,-1],[5,10,25,50,"All"]],
       
    });






    // $('.mydatatable thead th').each(function(){
    //     var title = $(this).text();
    //     $(this).html('<input type="text" placeholder="Search '+title+'" />');

    // });
    // table.columns().every(function(){
    //     var that = this;
    //     $('input', this.header() ).on('keyup change', function(){
    //         if (that.search() !== this.value){
    //             that.search(this.value).draw();
    //         }
    //     });
    // });



    $('.nav ul li').click(function(){
        $(this).addClass("active").siblings().removeClass('active');
    })

    const tabBtn = document.querySelectorAll('.nav ul li');
    const tab = document.querySelectorAll('.tab');
    function tabs(panelIndex){
        tab.forEach(function(node){
            node.style.display = 'none';
        });
        tab[panelIndex].style.display = 'block';
    }
    tabs(0);




</script>





<script>
    


              
        // Đối tượng `Validator`
        function Validator(options) {
            function getParent(element, selector) {
                while (element.parentElement) {
                    if (element.parentElement.matches(selector)) {
                        return element.parentElement;
                    }
                    element = element.parentElement;
                }
            }
        
            var selectorRules = {};
        
            // Hàm thực hiện validate
            function validate(inputElement, rule) {
                var errorElement = getParent(inputElement, options.formGroupSelector).querySelector(options.errorSelector);
                var errorMessage;
        
                // Lấy ra các rules của selector
                var rules = selectorRules[rule.selector];
                
                // Lặp qua từng rule & kiểm tra
                // Nếu có lỗi thì dừng việc kiểm
                for (var i = 0; i < rules.length; ++i) {
                    switch (inputElement.type) {
                        case 'radio':
                        case 'checkbox':
                            errorMessage = rules[i](
                                formElement.querySelector(rule.selector + ':checked')
                            );
                            break;
                        default:
                            errorMessage = rules[i](inputElement.value);
                    }
                    if (errorMessage) break;
                }
                
                if (errorMessage) {
                    errorElement.innerText = errorMessage;
                    getParent(inputElement, options.formGroupSelector).classList.add('invalid');
                } else {
                    errorElement.innerText = '';
                    getParent(inputElement, options.formGroupSelector).classList.remove('invalid');
                }
        
                return !errorMessage;
            }
        
            // Lấy element của form cần validate
            var formElement = document.querySelector(options.form);
            if (formElement) {
                // Khi submit form
                formElement.onsubmit = function (e) {
                    e.preventDefault();
        
                    var isFormValid = true;
        
                    // Lặp qua từng rules và validate
                    options.rules.forEach(function (rule) {
                        var inputElement = formElement.querySelector(rule.selector);
                        var isValid = validate(inputElement, rule);
                        if (!isValid) {
                            isFormValid = false;
                        }
                    });
        
                    if (isFormValid) {
                        // Trường hợp submit với javascript
                        if (typeof options.onSubmit === 'function') {
                            var enableInputs = formElement.querySelectorAll('[name]');
                            var formValues = Array.from(enableInputs).reduce(function (values, input) {
                                
                                switch(input.type) {
                                    case 'radio':
                                        values[input.name] = formElement.querySelector('input[name="' + input.name + '"]:checked').value;
                                        break;
                                    case 'checkbox':
                                        if (!input.matches(':checked')) {
                                            values[input.name] = '';
                                            return values;
                                        }
                                        if (!Array.isArray(values[input.name])) {
                                            values[input.name] = [];
                                        }
                                        values[input.name].push(input.value);
                                        break;
                                    case 'file':
                                        values[input.name] = input.files;
                                        break;
                                    default:
                                        values[input.name] = input.value;
                                }
        
                                return values;
                            }, {});
                            options.onSubmit(formValues);
                        }
                        // Trường hợp submit với hành vi mặc định
                        else {
                            formElement.submit();
                        }
                    }
                }
        
                // Lặp qua mỗi rule và xử lý (lắng nghe sự kiện blur, input, ...)
                options.rules.forEach(function (rule) {
        
                    // Lưu lại các rules cho mỗi input
                    if (Array.isArray(selectorRules[rule.selector])) {
                        selectorRules[rule.selector].push(rule.test);
                    } else {
                        selectorRules[rule.selector] = [rule.test];
                    }
        
                    var inputElements = formElement.querySelectorAll(rule.selector);
        
                    Array.from(inputElements).forEach(function (inputElement) {
                       // Xử lý trường hợp blur khỏi input
                        inputElement.onblur = function () {
                            validate(inputElement, rule);
                        }
        
                        // Xử lý mỗi khi người dùng nhập vào input
                        inputElement.oninput = function () {
                            var errorElement = getParent(inputElement, options.formGroupSelector).querySelector(options.errorSelector);
                            errorElement.innerText = '';
                            getParent(inputElement, options.formGroupSelector).classList.remove('invalid');
                        } 
                    });
                });
            }
        
        }
        
        
        
        // Định nghĩa rules
        // Nguyên tắc của các rules:
        // 1. Khi có lỗi => Trả ra message lỗi
        // 2. Khi hợp lệ => Không trả ra cái gì cả (undefined)
       
        
        Validator.isPho = function (selector, message) {
            return {
                selector: selector,
                test: function (value) {
                    var regex =/((09|03|07|08|05)+([0-9]{8})\b)/g;

                    return regex.test(value) ? undefined :  message || 'Số điện thoại không đúng định dạng! ';
                }
            };
        }
        Validator.isRequired = function (selector, message) {
                    return {
                        selector: selector,
                        test: function (value) {
                            return value ? undefined :  message || 'Vui lòng nhập trường này'
                        }
                    };
        }
        Validator.minLength = function (selector, min, message) {
                return {
                    selector: selector,
                    test: function (value) {
                        return value.length >= min ? undefined :  message || `Vui lòng nhập tối thiểu ${min} kí tự`;
                    }
                };
            }

            Validator.isConfirmed = function (selector, getConfirmValue, message) {
                return {
                    selector: selector,
                    test: function (value) {
                        return value === getConfirmValue() ? undefined : message || 'Giá trị nhập vào không chính xác';
                    }
                }
            }
        
        
        
        // =================================================================
                document.addEventListener('DOMContentLoaded', function () {
                  // Mong muốn của chúng ta
                  Validator({
                    form: '#formthongtin',
                    formGroupSelector: '.form-group',
                    errorSelector: '.form-message',
                    rules: [
                      Validator.isPho('#sodienthoai'),
                      Validator.isRequired('#username')

                      
                    ],
                    // onSubmit: function (data) {
                    //   // Call API
                    //   console.log(data);
                    // }
                  });
                  
                  Validator({
                    form: '#formmatkhau',
                    formGroupSelector: '.form-group',
                    errorSelector: '.form-message',
                    rules: [
                    Validator.minLength('#matkhauold', 3),

                    Validator.minLength('#matkhaunew', 3),
                    Validator.isRequired('#comfirmmatkhau'),
                    Validator.isConfirmed('#comfirmmatkhau', function () {
                        return document.querySelector('#formmatkhau #matkhaunew').value;
                    }, 'Mật khẩu nhập lại không chính xác')

                      
                    ],
                    // onSubmit: function (data) {
                    //   // Call API
                    //   console.log(data);
                    // }
                  });
                  
          
          
                  
                });
          
              </script>





<script>

        $(document).ready(function(){
            let check_ = "s"
            if(check_ === "thanhcong"){
                showSuccessToast()
            }else if(check_ === "thatbai"){
                showErrorToast()
            }


        });
    


        // Toast function
        function toast({ title = "", message = "", type = "info", duration = 3000 }) {
          const main = document.getElementById("toast");
          if (main) {
            const toast = document.createElement("div");
        
            // Auto remove toast
            const autoRemoveId = setTimeout(function () {
              main.removeChild(toast);
            }, duration + 1000);
        
            // Remove toast when clicked
            toast.onclick = function (e) {
              if (e.target.closest(".toast__close")) {
                main.removeChild(toast);
                clearTimeout(autoRemoveId);
              }
            };
        
            const icons = {
              success: "fa fa-check-circle",
              info: "fa fa-info-circle",
              warning: "fa fa-exclamation-circle",
              error: "fa fa-exclamation-circle"
            };
            const icon = icons[type];
            const delay = (duration / 1000).toFixed(2);
        
            toast.classList.add("toast", `toast--${type}`);
            toast.style.animation = `slideInLeft ease .3s, fadeOut linear 1s ${delay}s forwards`;
        
            toast.innerHTML = `
                            <div class="toast__icon">
                                <i class="${icon}"></i>
                            </div>
                            <div class="toast__body">
                                <h3 class="toast__title">${title}</h3>
                                <p class="toast__msg">${message}</p>
                            </div>
                            <div class="toast__close">
                                <i class="fa fa-times"></i>
                            </div>
                        `;
            main.appendChild(toast);
          }
        }
        
        
        function showSuccessToast() {
            toast({
              title: "Thành công!",
              message: "Bạn đã cập nhật thành công!",
              type: "success",
              duration: 5000
            });
          }
        
          function showErrorToast() {
            toast({
              title: "Thất bại!",
              message: "Có lỗi xảy ra, tên tài khoản đã được dùng. Vui lòng thử lại!",
              type: "error",
              duration: 5000
            });
          }
        </script>