<section style="background-color:#000; color: #fff" class="about10 py-4">
    <div class="tab-content row my-1 mx-auto">
        <div id="p" class="tab-pane fade in active show col-lg-12 col-md-12 col-12 w-50 pt-5 pb-5">
            <div class="card-deck mx-auto">
                <div class="img col-lg-3 col-md-3 col-12 w-50 pt-5 pb-5">
                    <div style=""  class="input-group ">
                        <div style="margin: 0;
                        font-size: 17px;
                        height: auto;
                        margin: 0 auto;
                        position: relative;
                        text-transform: uppercase;"  class="input-group-prepend">
                            <span style="background-color: lightgreen; border: none;  " class="input-group-text">Phim </span>
                        
                            <select onclick="thaydoiPhimInSC()" name="selectphim" id="selectphim">
                                <% for(const key in foundPhim){
                                    if(tenphim === foundPhim[key].IDphim){%>
                                        <option selected value="<%- foundPhim[key].IDphim%>"><%- foundPhim[key].Tenphim%></option>
                                    <%}else{%>
                                        <option  value="<%- foundPhim[key].IDphim%>"><%- foundPhim[key].Tenphim%></option>
                                    <%}
                                }%>
                            </select>    
                        </div>
                    </div>
                    
                    <% for(const key in foundPhim){%>
                        <div style=""  id="<%- foundPhim[key].IDphim%>" class="data2 ">
                            <img style="  object-fit: cover;"  class="img-fluid container" src="<%- foundPhim[key].Posterphim%>" alt="">    
                
                        </div>
                    <%}%>      
                </div>
                <div class="text col-lg-9 col-md-9 col-12 w-50 pt-5 pb-5">
                    <div class="row">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                    <span style="text-transform:uppercase;border-color:rgb(255, 231, 16);  background-color: rgb(255, 231, 16);" class="input-group-text">Cụm Rạp</span>
                                    <select onclick="thaydoiCumRapSC()" style="width:auto;" class="custom-select"  name="selectedname" id="selectedname">
                                    <% for(const key in foundCumRap){
                                        if(tencumrap === foundCumRap[key].IDcumrap){%>
                                            <option selected value="<%- foundCumRap[key].IDcumrap%>"><%- foundCumRap[key].Tencumrap%></option>

                                        <%}else{%>
                                            <option value="<%- foundCumRap[key].IDcumrap%>"><%- foundCumRap[key].Tencumrap%></option>

                                        <%}
                        
                                    }%>                                 
                                </select>
                                <span style="background-color: lightsteelblue; border: none;" class="input-group-text">RẠP</span>
                                <% for(const key in foundCumRap){%>
        
                                    <select onclick="thaydoiRapSC()"  class="data custom-select" name="<%- foundCumRap[key].IDcumrap%>" id="<%- foundCumRap[key].IDcumrap%>" >
                                            <option value="">CHỌN RẠP</option>
                                            <%for(const temp in foundRap){
                                                if((foundCumRap[key].IDcumrap === foundRap[temp].CumRapIDcumrap) && (tenrap === foundRap[temp].Tenrap)){%>
                                                    
                                                        <option  selected value="<%-foundRap[temp].IDrap%>"  ><%-foundRap[temp].Tenrap%></option>
                                                <%}else if((foundCumRap[key].IDcumrap === foundRap[temp].CumRapIDcumrap) && (tenrap !== foundRap[temp].Tenrap)){%>
                                                        <option value="<%-foundRap[temp].IDrap%>"   ><%-foundRap[temp].Tenrap%></option>

                                                <%}
                                            }%>
                                    </select>
                                <%}%>
                            </div>

                            <!------->
                        </div>
                    </div>
                    <div class="row container ">
                        <div class="nav nav-pills ml-auto p-2">
                                <span style="text-transform:uppercase;border-color:rgb(255, 231, 16);  background-color: rgb(255, 231, 16);" class="input-group-text">Thời gian suất chiếu</span>

                                <form id="formxemSC" method="POST" >                                     
                                        <input style="height: 40px;" onchange="getEventTime11()"  type="date" id="start1" > 
                                        <input  hidden type="text" name="ngayxem" id="ngayxem">   
                                        <input hidden  type="text" name="tencumrap" id="tencumrap"> 
                        
                                        <input hidden  type="text" name="tenrap" id="tenrap">                              
                         
                                        <input hidden  type="text" name="tenphim" id="tenphim">  
                                        <input hidden  type="text" value="2" name="check_option" id="check_option">
                                        <!-- <button class="btn" type="submit"></button>  -->

                        
                                </form>
                                <input onclick="xemsuatchieu()" readonly style="margin-left: 5px; width: 130px; background: lightgray;" class="btn submit" value="Xem Suất Chiếu"/>

                                <input readonly style="margin-left: 5px; width: 130px; background: lightgray;" id="add" class="btn submit"  value="Thêm Suất Chiếu"/>

                                <!-- <span class="text-align-center text-center" style="background-color: rgb(255, 122, 142);  "  id="add" class="p-2">Thêm Suất Chiếu</span> -->

                        </div>
                    </div>
                    <div class="row">
                        <div>
                            <!-------------------------->
                            <h1 type="text" id="tenphim"></h1>
                            <h5 style="text-transform:uppercase; background-color: rgb(43, 80, 161);" id="ngaycongchieu" >NGÀY CÔNG CHIẾU: </h5>


                            <div class="card-deck"> 

                                    <% for (const key in found_suatchieu){%>
                                          <div class="card " style=" max-width: 150px; color: black;">
                                              <div class="card-body">
                                                  
                                                <h6 style="font-weight: bold;"   id="tempHHSS" class="card-title"><%-found_suatchieu[key].GioBatDau %></h5>
                                                
                                            
                                              </div>
                                              <div>
                                                            <button onclick="scrollToTopSuatChieu('<%-found_suatchieu[key].IDsuatchieu %>','<%-found_suatchieu[key].Phim.IDphim %>','<%-found_suatchieu[key].RapIDrap %>','<%-found_suatchieu[key].Giave %>','<%-found_suatchieu[key].Batdau %>','<%-found_suatchieu[key].GioBatDau %>', '<%-found_suatchieu[key].Ketthuc %>', '<%-found_suatchieu[key].GioKetThuc %>')"  style="background-color: lightgreen;  border-radius: 5px; border: none;">EDIT</button>
                                                            <button onclick="deleteSuatChieu('<%-found_suatchieu[key].IDsuatchieu %>')"  style="background-color: lightcoral;  border-radius: 5px; border: none;">DELETE</button>
            
                                                    </div>
                                            </div>
                    
                                      <%}%>
                            </div>
                            <!-------------------------->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>






















<div class="bg-modal" >
        <div style="background-color: lightgoldenrodyellow;" class="modal-content " >             
            <div onclick="tatsuatchieu()" class="close">+</div>
            <div class="ui container">
                <form  class="ui form" method="POST"  >
                    <div style="background-color: rgb(247, 247, 220);" class="card w-100" style="width: 18rem;">
                            
                            <div class="card-body">
                              <h5 style="text-transform: uppercase; background-color: lawngreen" class="card-title">Chỉnh Sửa Suất Chiếu</h5>
                       


                                <div  class="input-group">
                                    <div style=" box-sizing: border-box; width: 100%;" class="input-group-prepend">
                                        <span style="text-transform: uppercase; width: 160px; background-color: lightskyblue; border: none;" class="input-group-text">ID suất chiếu </span>
                                        <input readonly type="text" name="idsuatchieu" id="idsuatchieu">

                                    </div>
                                </div>
                                <div style="margin-top:2px;" class="input-group">
                                        <div style=" box-sizing: border-box; width: 100%;" class="input-group-prepend">
                                            <span style="text-transform: uppercase; width: 160px; background-color: lightcoral; border: none;" class="input-group-text">ID phim </span>
                                            <input readonly type="text" name="idphim" id="idphim">

                                        </div>

                                </div>
                                <div style="margin-top:2px;" class="input-group">
                                        <div style=" box-sizing: border-box; width: 100%;" class="input-group-prepend">
                                                <span style="text-transform: uppercase; width: 160px; background-color: lightgray; border: none;" class="input-group-text">ID rạp </span>
                                            <input readonly type="text" name="idrap" id="idrap">

                                        </div>

                                </div>
                                <div style="margin-top:2px;" class="input-group">
                                        <div style=" box-sizing: border-box; width: 100%;" class="input-group-prepend">
                                                <span style="text-transform: uppercase; width: 160px; background-color: lightgreen; border: none;" class="input-group-text">Giá vé </span>
                                            <input type="text" name="giave" id="giave">

                                        </div>

                                </div>
                                <div style="margin-top:2px;" class="input-group">
                                        <div style=" box-sizing: border-box; width: 100%;" class="input-group-prepend">
                                                <span style="text-transform: uppercase; width: 160px; background-color: lightpink; border: none;" class="input-group-text">Ngày bắt đầu </span>
                                            <input  type="text" name="ngaybatdau" id="ngaybatdau">

                                        </div>

                                </div>
                                <div style="margin-top:2px;" class="input-group">
                                        <div style=" box-sizing: border-box; width: 100%;" class="input-group-prepend">
                                                <span style="text-transform: uppercase; width: 160px; background-color: lightseagreen; border: none;" class="input-group-text">Giờ bắt đầu </span>
                                            <input type="text" name="giobatdau" id="giobatdau">

                                        </div>

                                </div>
                                <div style="margin-top:2px;" class="input-group">
                                        <div style=" box-sizing: border-box; width: 100%;" class="input-group-prepend">
                                                <span style="text-transform: uppercase; width: 160px; background-color: lightsalmon; border: none;" class="input-group-text">Ngày kết thúc </span>
                                            <input type="text" name="ngayketthuc" id="ngayketthuc">

                                        </div>

                                </div>
                                <div style="margin-top:2px;" class="input-group">
                                        <div style=" box-sizing: border-box; width: 100%;" class="input-group-prepend">
                                                <span style="text-transform: uppercase; width: 160px; background-color: lightsteelblue; border: none;"class="input-group-text">Giờ kết thúc </span>
                                            <input type="text" name="gioketthuc" id="gioketthuc">

                                        </div>

                                </div>
                                <input hidden type="text" value="0" name="check_option" id="check_option">

                            </div>
                            
                           
                    </div>
                    
                    <button class="ui fluid blue button" type="submit">Save</button>
                </form>
            </div>
    
    
           
        </div>
</div> 
<!-- THÊM SUẤT CHIẾU -->
<div   class="bg-modal1">
        <div style="background-color: lightgoldenrodyellow;" class="modal-content ">             
            <div onclick="tatsuatchieu1()" class="close">+</div>
            <div  class="ui container">
                <form id="formeditSC" class="ui form" method="POST"  >
                    <div style="background-color: rgb(247, 247, 220);" class="card w-100" style="width: 18rem;">                     
                            <div class="card-body">
                              <h5 style="text-transform: uppercase; background-color: lawngreen"  class="card-title">Thêm Suất Chiếu</h5>
                       
                                <div style="margin-top:5px;" class="input-group">
                                        <div style=" box-sizing: border-box; width: 100%;" class="input-group-prepend">
                                            <span style="text-transform: uppercase; width: 160px; background-color: lightskyblue; border: none;" class="input-group-text">ID phim </span>
                                            <input style="" readonly type="text" name="idphim1" id="idphim1">

                                        </div>

                                </div>
                                <div style="margin-top:5px;" class="input-group">
                                        <div style=" box-sizing: border-box; width: 100%;"  class="input-group-prepend">
                                            <span style="text-transform: uppercase; width: 160px; background-color: lightcoral; border: none;" class="input-group-text">ID rạp </span>
                                            <input readonly type="text" name="idrap1" id="idrap1">

                                        </div>

                                </div>
                                <div style="margin-top:5px;" class="input-group">
                                        <div style=" box-sizing: border-box; width: 100%;" class="input-group-prepend">
                                            <span style="text-transform: uppercase; width: 160px; background-color: lightslategray; border: none;" class="input-group-text">Giá vé </span>
                                            <input type="text" name="giave1" id="giave1">

                                        </div>

                                </div>
                                <div style="margin-top:5px;" class="input-group">
                                        <div style=" box-sizing: border-box; width: 100%;" class="input-group-prepend">
                                            <span style="text-transform: uppercase; width: 160px; background-color: lightsalmon; border: none;" class="input-group-text">Ngày bắt đầu </span>
                                            <input readonly type="text" name="ngaybatdau1" id="ngaybatdau1">

                                        </div>

                                </div>
                                <div style="margin-top:5px;" class="input-group">
                                        <div style=" box-sizing: border-box; width: 100%;" class="input-group-prepend">
                                            <span style="text-transform: uppercase; width: 160px; background-color: lightgreen; border: none;" class="input-group-text">Giờ bắt đầu </span>
                                            <input type="text" name="giobatdau1" id="giobatdau1">

                                        </div>

                                </div>
                                <div style="margin-top:5px;" class="input-group">
                                        <div style=" box-sizing: border-box; width: 100%;"  class="input-group-prepend">
                                            <span style="text-transform: uppercase; width: 160px; background-color: lightpink; border: none;" class="input-group-text">Ngày kết thúc </span>
                                            <input readonly type="text" name="ngayketthuc1" id="ngayketthuc1">

                                        </div>

                                </div>
                                <div style="margin-top:5px;" class="input-group">
                                        <div style=" box-sizing: border-box; width: 100%;" class="input-group-prepend">
                                            <span  style="text-transform: uppercase; width: 160px; background-color: lightseagreen; border: none;" class="input-group-text">Giờ kết thúc </span>
                                            <input placeholder="Giờ Kết Thúc phải lớn hơn Giờ Bắt Đầu" type="text" name="gioketthuc1" id="gioketthuc1">

                                        </div>

                                </div>
                                <input hidden readonly type="text" value="1" name="check_option" id="check_option">
                                <!-- <input hidden  type="text" name="tencumrap1" id="tencumrap1"> 
                        
                                <input   type="text" name="tenrap1" id="tenrap1">                              
                 
                                <input    type="text" name="tenphim1" id="tenphim1">   -->
                            </div>
                            
                           
                    </div>
                    <input onclick="themsuatchieu()" readonly style="background-color: rgb(65, 81, 228);" class="btn submit" value="Xác Nhận"/>

                    <!-- <button class="ui fluid blue button" type="submit">Xác Nhận</button> -->
                </form>
            </div>
            
        </div>
</div> 


<div class="bg-modal2">
        <div class="modal-content2 "> 
                    <div class="container">
                            <p style="text-transform: uppercase; background-color: lightgreen;" >Xác nhận Xóa Suất Chiếu</p> 
                    </div>           
                    <form  class="ui form" method="POST"   >
                        <div class="field">
                            <input hidden  type="text" name="idsuatchieu2" id="idsuatchieu2">
                            <input hidden  value="3" type="text" name="check_option" id="check_option">
                            <button style="width: 100px; height: 50px; background-color: lightgreen;  border-radius: 5px; border: none;">YES</button>

                        </div>
                    </form>
                    <div class="field">
                        <button onclick="thoatDeleteSuatChieu()" style="width: 100px;height: 50px; background-color: lightcoral;  border-radius: 5px; border: none;">NO</button>
                                
                    </div>
                    
            
    
        </div>
</div>


      
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js">
      </script>
      <script>
         
      
          $("#selectphim").on('change', function(){



                  $(".data2").hide();
                  $("#" + $(this).val()).fadeIn(700);
              }).change();
              $("#selectedname").on('change', function(){



                  $(".data").hide();
                  $("#" + $(this).val()).fadeIn(700);
              }).change();
      </script>
      
      
      
      <script>
            var themsuatchieu = function(){

                var check_idrap1  = document.getElementById('idrap1').value;
                var check_giave1  = document.getElementById('giave1').value;
                var check_ngaybatdau1 = document.getElementById('ngaybatdau1').value;
                var check_giobatdau1  = document.getElementById('giobatdau1').value;
                var check_gioketthuc1 = document.getElementById('gioketthuc1').value;

                if(check_idrap1 === ''){
                    alert("Hãy Nhập Rạp Xem Vào! Cảm Ơn");

                }else if(check_giave1 === ''){
                    alert("Hãy Nhập Giá Vé Vào! Cảm Ơn");

                }else if(check_ngaybatdau1 === ''){
                    alert("Hãy Nhập Ngày Bắt Đầu và Ngày Kết Thúc Vào! Cảm Ơn");

                }else if(check_giobatdau1 === ''){
                    alert("Hãy Nhập Giờ Bắt Đầu Vào! Cảm Ơn");

                }else if(check_gioketthuc1 === ''){
                    alert("Hãy Nhập Giờ Kết Thúc Vào! Cảm Ơn");

                }
                else
                {
                    document.getElementById('formeditSC').submit();

                }   



            }

            var xemsuatchieu = function(){
                var check_ngayxem = document.getElementById('ngayxem').value;
                var check_tenrap = document.getElementById('tenrap').value;
                if(check_ngayxem === ''){
                    alert("Hãy Nhập Ngày Xem Vào! Cảm Ơn");
                }else if(check_tenrap === ''){
                    alert("Hãy Nhập Ngày Xem Vào Tên Rạp! Cảm Ơn");
                }
                else{
                    document.getElementById('formxemSC').submit();

                }

            }

            var thaydoiPhimInSC = function (){
                const temp_tenphimsdas = document.getElementsByName('selectphim')[0].value;
                document.getElementById('tenphim').value = temp_tenphimsdas;
                document.getElementById('idphim1').value = temp_tenphimsdas;


            }
            document.getElementById('tenphim').value = document.getElementsByName('selectphim')[0].value;
            document.getElementById('idphim1').value = document.getElementById('tenphim').value;



            var thaydoiCumRapSC = function(){
                var default_tencumrap = document.getElementsByName('selectedname')[0].value;

                document.getElementById('tencumrap').value = default_tencumrap;
            }
            document.getElementById('tencumrap').value = document.getElementsByName('selectedname')[0].value;

            var thaydoiRapSC = function(){
                var default_temp_tencumrap = document.getElementsByName('selectedname')[0].value;

                var default_tenrap = document.getElementsByName(default_temp_tencumrap)[0].value;
                document.getElementById('tenrap').value = default_tenrap;

                document.getElementById('idrap1').value = default_tenrap;




            }
                var default_temp_tencumrap = document.getElementsByName('selectedname')[0].value;

                var default_tenrap = document.getElementsByName(default_temp_tencumrap)[0].value;
                document.getElementById('tenrap').value = default_tenrap;
                document.getElementById('idrap1').value = document.getElementById('tenrap').value;




           

            // var default_tenrap = document.getElementsByName(default_tencumrap)[0].value;
            
            // document.getElementById('tenrap').value = default_tenrap;

            var thoatDeleteSuatChieu = function(){
                document.querySelector('.bg-modal2').style.display = 'none';

            };

            function deleteSuatChieu(idsuatchieu){
                document.querySelector('.bg-modal2').style.display = 'flex';
                document.getElementById('idsuatchieu2').value = idsuatchieu;

                $(window).scrollTop(0);

            };
            

           
            var getEventTime11 = function(){
             
              var ngayxem = moment(document.getElementById("start1").value).format("YYYY-MM-DD");
              document.getElementById('ngaybatdau1').value = ngayxem;
              document.getElementById('ngayketthuc1').value = ngayxem;


                var temp_tencumrap = document.getElementsByName('selectedname')[0].value;
                var temp_tenphim = document.getElementsByName('selectphim')[0].value;
              
                document.getElementById('ngayxem').value = ngayxem;            
                document.getElementById('tencumrap').value = temp_tencumrap;
                document.getElementById('tencumrap1').value = temp_tencumrap;

                document.getElementById('tenphim').value = temp_tenphim;

                var temp_tenrap = document.getElementsByName(temp_tencumrap)[0].value;

                document.getElementById('tenrap').value = temp_tenrap;

            };
          
          </script>


<script>
// var addphim  =function(){
//     document.querySelector('.bg-modal1').style.display = 'flex';
        

        
//         document.getElementById('giave1').value = '';
//         document.getElementById('giobatdau1').value = '';
//         document.getElementById('gioketthuc1').value = '';
//         document.getElementById('check_option').value = '0';


// };

document.getElementById('add').addEventListener('click',
        function(){
            document.querySelector('.bg-modal1').style.display = 'flex';
        

        
        document.getElementById('giave1').value = '';
        document.getElementById('giobatdau1').value = '';
        document.getElementById('gioketthuc1').value = '';


                // var check_ngayxem = document.getElementById('ngayxem').value;
                // var check_tenrap = document.getElementById('tenrap').value;

                // if(check_ngayxem === ''){
                //     alert("Hãy Nhập Ngày Xem Vào! Cảm Ơn");
                // }else if(check_tenrap === ''){
                //     alert("Hãy Nhập Ngày Xem Vào Tên Rạp! Cảm Ơn");
                // }
                








        });


// var editsuatchieu = function(idsuatchieu, idphim, idrap, giave, ngaybatdau, giobatdau, ngayketthuc, gioketthuc){
//         document.querySelector('.bg-modal').style.display = 'flex';
//         document.getElementById('idsuatchieu').value = idsuatchieu;
//         document.getElementById('idphim').value = idphim;
//         document.getElementById('idrap').value = idrap;
//         document.getElementById('giave').value = giave;
//         document.getElementById('ngaybatdau').value = ngaybatdau;
//         document.getElementById('giobatdau').value = giobatdau;
//         document.getElementById('ngayketthuc').value = ngayketthuc;
//         document.getElementById('gioketthuc').value = gioketthuc;




//     };

function scrollToTopSuatChieu(idsuatchieu, idphim, idrap, giave, ngaybatdau, giobatdau, ngayketthuc, gioketthuc) {
    document.querySelector('.bg-modal').style.display = 'flex';

            $(window).scrollTop(0);
            document.getElementById('idsuatchieu').value = idsuatchieu;
        document.getElementById('idphim').value = idphim;
        document.getElementById('idrap').value = idrap;
        document.getElementById('giave').value = giave;
        document.getElementById('ngaybatdau').value = ngaybatdau;
        document.getElementById('giobatdau').value = giobatdau;
        document.getElementById('ngayketthuc').value = ngayketthuc;
        document.getElementById('gioketthuc').value = gioketthuc;
        }




    var tatsuatchieu = function(){
        document.querySelector('.bg-modal').style.display = 'none';

    };
    var tatsuatchieu1 = function(){
        document.querySelector('.bg-modal1').style.display = 'none';

    };
</script>
      
      <!-- <form id="myform" method="get" action="something.php">
            <input type="text" name="name" />
        </form>
        
        <input type="submit" form="myform" /> -->